
### IntelliJ IDEA ###
.idea/
.intellijPlatform/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin
.junie/
test-asp-project
/src/main/gen/
/src/main/grammar/test.bnf
/src/main/kotlin/dvamuch/aspclassiclanguagesupport2/lang/AspDumpPsiAction.kt

# Local symlink to large external ASP project used for diagnostics
/src/test/testData/asp/external-project
